<!DOCTYPE html>
<html>
<head>
	<title>吼啦！</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="holla.css"/>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
	
	<body ng-app="hollaApp" ng-controller="hollaCtrl" ng-init="initialize()">
	
		<nav class="navbar navbar-inverse navbar-fixed-top holla-navbar">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4 holla-navlogo" align="left" style="bottom:-15px;">
					</div>
					<div class="col-xs-4 holla-navlogo" align="center">
						<img src='holla.png' style="width:104px;height:50px;"/>
					</div>
					<div class="col-xs-4 holla-navlogo" align="right" style="bottom:-15px;">
						<a href="list.html">
						<span id="btnMsgs" class="glyphicon glyphicon-arrow-left" style="color:#f8f8f8;"></span>
						</a>
					</div>
				</div>
			</div>
		</nav>
	
		<div class="container-fluid" style="padding:0px; margin-top:50px;">
			<div id="detailPanel" class="holla-screenPanel">
				<div class="panel panel-default holla-msgPanel">
					<div class="panel-heading holla-msgPanelHead" style="background-color:#fff;">{{ selectMessage.title }}</div>
					<div class="panel-body">
						<div class="col-xs-10 holla-msgPanelDetail">
							<div class="holla-msgPanelDetail" ><p>{{ selectMessage.messageContent }}</p></div>
							<div class="holla-msgPanelImage {{ selectMessage.attachments != null && selectMessage.attachments.length > 0 ? '' : 'hidden' }}">
								<img class="thumb" src="{{ imageLocRes(selectMessage.attachments[0].path) }}"  data-toggle="modal" data-target="#myModal"/>
							</div>
						</div>
						<div class="col-xs-2 holla-msgPanelScore" align="center">
							<span class="glyphicon glyphicon-chevron-up holla-vote {{ selectMessage.myVote > 0 ? 'hidden' : '' }}" ng-click="voteOnPost(selectMessage, true)"></span><br/> 
							<span align="center">{{ selectMessage.voteScore }}</span><br /> 
							<span class="glyphicon glyphicon-chevron-down holla-vote {{ selectMessage.myVote < 0 ? 'hidden' : '' }}" ng-click="voteOnPost(selectMessage, false)"></span>
						</div>
					</div>
							<div class="panel-footer row holla-msgPanelFoot">
								<div class="col-xs-6">{{ friendlyTime(selectMessage.postTime) }} </div>
								<div class="col-xs-6">{{ selectMessage.replyCount }} 条回复</div>
							</div>
				</div>
				<ul class="list-group">
					<li ng-repeat="r in replies" class="list-group-item holla-msgLI">
						<div class="panel panel-default" style="padding: 0px; margin-bottom: 0px;">
							<div class="panel-heading holla-msgPanelHead" style="background-color:#fff;">{{ r.title }}</div>
							<div class="panel-body">
								<div class="col-xs-10 holla-msgPanelDetail"><p>{{ r.messageContent }}</p></div>
								<div class="col-xs-2 holla-msgPanelScore" align="center">
									<span class="glyphicon glyphicon-chevron-up  holla-vote {{ r.myVote > 0 ? 'hidden' : '' }}"  ng-click="voteOnPost(r, true)"></span><br /> 
									<span align="center">{{ r.voteScore }}</span><br /> 
									<span class="glyphicon glyphicon-chevron-down  holla-vote {{ r.myVote < 0 ? 'hidden' : '' }}"  ng-click="voteOnPost(r, false)"></span>
								</div>
							</div>
							<div class="panel-footer row holla-msgPanelFoot">
								<div class="col-xs-6">{{ friendlyTime(r.postTime) }} </div>
							</div>
						</div>
					</li>
				</ul>
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-inline" role="form">
							<div class="form-group row" style="margin:5px;">
								<textarea type="text" class="form-control" style="font-size: 16px;" ng-model="postReply"></textarea>
								<button ng-click="submitReply()" class="btn btn-default">回复</button>
							</div>
						</form>
					</div>
				</div>
				<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
				        <div class="modal-body">
				            <img src="{{ imageLocRes(selectMessage.attachments[0]) }}"  class="img-responsive">
				        </div>
				    </div>
				  </div>
				</div>
			</div>
			
		</div>
		<script src="holla.js"></script>
	</body>
</html>
