<!DOCTYPE html>
<html>
<head>
	<title>吼啦！</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="holla.css"/>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
	
	<body ng-app="hollaApp" ng-controller="hollaCtrl" ng-init="initialize()">
	
		<nav class="navbar navbar-inverse navbar-fixed-top holla-navbar">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4 holla-navlogo" align="left" style="bottom:-15px;">
						<span id="btnRefresh" class="glyphicon glyphicon-refresh" ng-click="getLocalMessages()" ></span>
						<span id="btnHotTopics" class="glyphicon glyphicon-refresh" ng-click="getHotMessages()" >热点</span>
					</div>
					<div class="col-xs-4 holla-navlogo" align="center">
						<img src='holla.png' style="width:104px;height:50px;"/>
					</div>
					<div class="col-xs-4 holla-navlogo" align="right" style="bottom:-15px;">
						<span id="btnPost" class="glyphicon glyphicon-plus" ng-click="gotoPost()"></span>
						<span id="btnMsgs" class="glyphicon glyphicon-arrow-left hidden"  ng-click="gotoMessages()"></span>
					</div>
				</div>
			</div>
		</nav>
	
		<div class="container-fluid" style="padding:0px; margin-top:50px;">
			<div id="messagesPanel" class="holla-screenPanel hidden">
				<ul class="list-group">
					<li ng-repeat="m in messages" class="list-group-item holla-msgLI">
						<div class="panel panel-default holla-msgPanel">
							<div class="panel-heading holla-msgPanelHead" style="background-color:#fff;">{{ m.title }}</div>
							<div class="panel-body">
								<div class="col-xs-10 holla-msgPanelDetail" ng-click="chooseMessage(m, true)">
									<div class="holla-msgPanelDetail" ><p>{{ m.messageContent }}</p></div>
									<div class="holla-msgPanelImage {{ m.attachments != null && m.attachments.length >0 ? '' : 'hidden' }}">
										<img class="thumb" src="{{ imageLocRes(m.attachments[0].path) }}"/>
									</div>
								</div>
								<div class="col-xs-2 holla-msgPanelScore" align="center">
									<span class="glyphicon glyphicon-chevron-up holla-vote {{ m.myVote > 0 ? 'hidden' : '' }}" ng-click="voteOnPost(m, true)"></span><br/> 
									<span align="center">{{ m.voteScore }}</span><br /> 
									<span class="glyphicon glyphicon-chevron-down holla-vote {{ m.myVote < 0 ? 'hidden' : '' }}" ng-click="voteOnPost(m, false)"></span>
								</div>
							</div>
							<div class="panel-footer row holla-msgPanelFoot">
								<div class="col-xs-6">{{ friendlyTime(m.postTime) }} </div>
								<div class="col-xs-6" align="right">{{ m.replyCount }} 条回复</div>
							</div>
						</div>
					</li>
				</ul>
				<div style="text-align:center;" ng-click="loadMoreMessages()">更多消息。。。</div>
			</div>
			
			<div id="detailPanel" class="holla-screenPanel hidden">
				<div class="panel panel-default holla-msgPanel">
					<div class="panel-heading holla-msgPanelHead" style="background-color:#fff;">{{ selectMessage.title }}</div>
					<div class="panel-body">
						<div class="col-xs-10 holla-msgPanelDetail">
							<div class="holla-msgPanelDetail" ><p>{{ selectMessage.messageContent }}</p></div>
							<div class="holla-msgPanelImage {{ selectMessage.attachments != null && selectMessage.attachments.length >0 ? '' : 'hidden' }}">
								<img class="thumb" src="{{ imageLocRes(selectMessage.attachments[0]) }}"/>
							</div>
						</div>
						<div class="col-xs-2 holla-msgPanelScore" align="center">
							<span class="glyphicon glyphicon-chevron-up holla-vote {{ selectMessage.myVote > 0 ? 'hidden' : '' }}" ng-click="voteOnPost(selectMessage, true)"></span><br/> 
							<span align="center">{{ selectMessage.voteScore }}</span><br /> 
							<span class="glyphicon glyphicon-chevron-down holla-vote {{ selectMessage.myVote < 0 ? 'hidden' : '' }}" ng-click="voteOnPost(selectMessage, false)"></span>
						</div>
					</div>
							<div class="panel-footer row holla-msgPanelFoot">
								<div class="col-xs-6">{{ friendlyTime(selectMessage.postTime) }} </div>
								<div class="col-xs-6">{{ selectMessage.replyCount }} 条回复</div>
							</div>
				</div>
				<ul class="list-group">
					<li ng-repeat="r in replies" class="list-group-item holla-msgLI">
						<div class="panel panel-default" style="padding: 0px; margin-bottom: 0px;">
							<div class="panel-heading holla-msgPanelHead" style="background-color:#fff;">{{ r.title }}</div>
							<div class="panel-body">
								<div class="col-xs-10 holla-msgPanelDetail"><p>{{ r.messageContent }}</p></div>
								<div class="col-xs-2 holla-msgPanelScore" align="center">
									<span class="glyphicon glyphicon-chevron-up  holla-vote {{ r.myVote > 0 ? 'hidden' : '' }}"  ng-click="voteOnPost(r, true)"></span><br /> 
									<span align="center">{{ r.voteScore }}</span><br /> 
									<span class="glyphicon glyphicon-chevron-down  holla-vote {{ r.myVote < 0 ? 'hidden' : '' }}"  ng-click="voteOnPost(r, false)"></span>
								</div>
							</div>
							<div class="panel-footer row holla-msgPanelFoot">
								<div class="col-xs-6">{{ friendlyTime(r.postTime) }} </div>
							</div>
						</div>
					</li>
				</ul>
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-inline" role="form">
							<div class="form-group row" style="margin:5px;">
								<textarea type="text" class="form-control" style="font-size: 16px;" ng-model="postReply"></textarea>
								<button ng-click="submitReply()" class="btn btn-default">回复</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div id="postPanel" class="holla-screenPanel hidden">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group" style="margin:5px;">
								<label class="control-label" for="pwd">标题：</label> 
								<input type="text" class="form-control" style="font-size: 16px;" ng-model="postMessage.title" />
							</div>
							<div class="form-group" style="margin:5px;">
								<label class="control-label" for="pwd">内容：</label>
								<textarea type="text" class="form-control" style="font-size: 16px;" ng-model="postMessage.content"></textarea>
							</div>
							<div class="form-group" style="margin:5px;">
								<label class="control-label" for="pwd">照片：</label>
								<input type="file" accept="image/*" capture="camera" id="pictures" name="pictures" onchange="angular.element(this).scope().imageSelected(event)"/>
							</div>
							<div id="picPreviewPanel" class="hidden">
								<img id="picPreview" class="thumb"/>
								<span class="glyphicon glyphicon-trash" ng-click="removePicture()">删除照片</span>
							</div>
							<div class="form-group" style="margin:5px;" align="right">
								<button ng-click="submitPost()" class="btn btn-default">提交</button>
								<button ng-click="cancelPost()" class="btn">取消</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- 
		<nav class="navbar navbar-inverse navbar-fixed-bottom holla-navbar-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6" align="left">
						<span class="glyphicon glyphicon-time"> 最新！</span>
					</div>
					<div class="col-xs-6" align="right">
						<span class="glyphicon glyphicon-fire"> 最火！</span>
					</div>
				</div>
			</div>
		</nav>
		 -->
		<script src="holla.js"></script>
	</body>
</html>
