<!DOCTYPE html>
<html>
<head>
	<title>吼啦！本日更新</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="holla.css"/>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
	
	<body ng-app="hollaApp" ng-controller="hollaCtrl" ng-init="initialize()">
	
		<nav class="navbar navbar-inverse navbar-fixed-top holla-navbar">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4 holla-navlogo" align="left" style="bottom:-15px;">
						<span id="btnRefresh" class="glyphicon glyphicon-refresh" ng-click="getLocalMessages()" ></span>
					</div>
					<div class="col-xs-4 holla-navlogo" align="center">
						<img src='holla.png' style="width:104px;height:50px;"/>
					</div>
					<div class="col-xs-4 holla-navlogo" align="right" style="bottom:-15px;">
						<span id="btnPost" class="glyphicon glyphicon-plus" ng-click="gotoPost()"></span>
					</div>
				</div>
			</div>
		</nav>
	
		<div class="container-fluid" style="padding:0px; margin-top:50px;">
			<div id="messagesPanel" class="holla-screenPanel">
				<ul class="list-group">
					<li ng-repeat="m in messages" class="list-group-item holla-msgLI">
						<div class="panel panel-default holla-msgPanel">
							<div class="panel-heading holla-msgPanelHead" style="background-color:#fff;">{{ m.title }}</div>
								<div class="panel-body">
							<a href="detail.html?opid={{m.id}}">
									<div class="col-xs-10 holla-msgPanelDetail">
										<div class="holla-msgPanelDetail" ><p>{{ m.messageContent }}</p></div>
										<div class="holla-msgPanelImage {{ m.attachments != null && m.attachments.length > 0 ? '' : 'hidden' }}">
											<ul class="list-group">
												<li ng-repeat="atta in m.attachments">
													<img class="thumb" src="{{ imageLocRes(atta.path) }}"/>
												</li>
											</ul>
										</div>
									</div>
							</a>
									<div class="col-xs-2 holla-msgPanelScore" align="center">
										<span class="glyphicon glyphicon-chevron-up holla-vote {{ m.myVote > 0 ? 'hidden' : '' }}" ng-click="voteOnPost(m, true)"></span><br/> 
										<span align="center">{{ m.voteScore }}</span><br /> 
										<span class="glyphicon glyphicon-chevron-down holla-vote {{ m.myVote < 0 ? 'hidden' : '' }}" ng-click="voteOnPost(m, false)"></span>
									</div>
								</div>
							<div class="panel-footer row holla-msgPanelFoot">
								<div class="col-xs-6">{{ friendlyTime(m.postTime) }} </div>
								<div class="col-xs-6" align="right">{{ m.replyCount }} 条回复</div>
							</div>
						</div>
					</li>
				</ul>
				<div style="text-align:center;" ng-click="loadMoreMessages()">更多消息。。。</div>
			</div>
			
			<div id="postPanel" class="holla-screenPanel hidden">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal" role="form">
						<!-- 
							<div class="form-group" style="margin:5px;">
								<label class="control-label" for="pwd">标题：</label> 
								<input type="text" class="form-control" style="font-size: 16px;" ng-model="postMessage.title" />
							</div>
							 -->
							<div class="form-group" style="margin:5px;">
								<label class="control-label" for="pwd">内容：</label>
								<textarea type="text" class="form-control" style="font-size: 16px;" ng-model="postMessage.content"></textarea>
							</div>
							<div class="form-group" style="margin:5px;">
								<label class="control-label" for="pwd">照片：</label>
								<input type="file" accept="image/*" capture="camera" id="pictures" name="pictures" onchange="angular.element(this).scope().imageSelected(event)"/>
							</div>
							<div id="picPreviewPanel" class="hidden">
								<img id="picPreview" class="thumb"/>
								<span class="glyphicon glyphicon-trash" ng-click="removePicture()">删除照片</span>
							</div>
							<div class="form-group" style="margin:5px;" align="right">
								<button ng-click="submitPost()" class="btn btn-default">提交</button>
								<button ng-click="cancelPost()" class="btn">取消</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="holla.js"></script>
	</body>
</html>
