.holla-navbar {
	background-color: #4fb7c0;
}

.holla-navbar-bottom {
	background-color: #fff;
	font-size: 22px;
	color: #009bda;
}

.holla-vote {
	font-size: 22px;
	color: #77cbfa;
}

.holla-navlogo {
	font-size: 18px;
	color: #f8f8f8;
}

.holla-msgLI {
	padding: 0px;
	border: none;
}

.holla-screenPanel {
	padding-bottom: 50px;
}

.holla-msgPanel {
	padding: 0px;
	margin-bottom: 0px;
}

.holla-msgPanelHead {
	border-bottom: none;
	background-color: #fff;
}

.holla-msgPanelDetail {
	padding-left: 0px;
}
.holla-msgPanelDetail:active {
	background-color:#dddddd;
}

.holla-msgPanelFoot {
	font-size: 10px;
	padding: 5px 5px 0px 0px;
	margin: 0px;
	border-top: none;
	background-color: #fff;
}

.holla-msgPanelImage {
}

.thumb {
	max-height: 240px;
	max-width: 240px;
	border: none;
	margin: 0px;
}
