<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Main</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="hollaAdminApp" ng-controller="hollaAdminCtrl" ng-init="initialize()">
<div class="container-fluid" style="padding:0px; margin-top:50px;">
    <form class="form-horizontal" role="form">
        <div class="form-group" style="margin:5px;">
            <label class="control-label" for="phone">phone:</label>
            <input type="text" name="phone" id="phone" class="form-control" ng-model="registerInfo.phone" />
            <label class="control-label" for="handle">handle:</label>
            <input type="text" name="handle" id="handle" class="form-control" ng-model="registerInfo.handle" />
            <div class="form-group" style="margin:5px;" align="right">
                <button ng-click="registerUser()" class="btn btn-default">Submit</button>
                <button ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid" style="padding:0px; margin-top:50px;">
    <form class="form-horizontal" role="form">
        <label class="control-label" for="handle">handle:</label>
        <input type="text" id="handle2" class="form-control" ng-model="registerInfo.handle" />
        <label class="control-label" for="code">code:</label>
        <input type="text" id="code" class="form-control" ng-model="authCode" />
        <select class="form-control" ng-model="userRole">
            <option value="regular">User</option>
            <option value="editor">Editor</option>
            <option value="admin">Admin</option>
        </select>
        <button ng-click="activateUser()" class="btn btn-default">Activate</button>
    </form>
</div>
</body>
<script type="text/javascript" src='@routes.Assets.at("js/hollaAdmin.js")'></script>
</html>