<!DOCTYPE html>

<html>
    <head>
        <title>Holla Login</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="hollaLogin" ng-controller="hollaLoginCtrl" ng-init="initialize()">
        <div class="container-fluid" style="padding:0px; margin-top:50px;">
            <form class="form-horizontal" role="form">
            <div class="form-group" style="margin:5px;">
                <label for="username">Username:</label>
                <input class="form-control"  type="text" id="username" ng-model="loginInfo.username" />
            </div>
            <div class="form-group" style="margin:5px;">
                <lable for="password">Password:</lable>
                <input class="form-control"  type="text" id="password" ng-model="loginInfo.password" />
            </div>
            <div class="form-group" style="margin:5px;">
                <button ng-click="login()" class="btn btn-default">Login</button>
            </div>
            </form>
        </div>
    </body>
    <script type="text/javascript" src='@routes.Assets.at("js/hollaLogin.js")'></script>
</html>
